body {
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   font-size: 24px;
}

ol {
   text-align: left;
}

.home-page {
   color: white;
   background-color: black;
}

.head {
   font-weight: 200;
}

.recipe-link {
   font-size: larger;
   font-family: 'Courier New', Courier, monospace;
}

.PQ {
   background-color: #FCB9AA;
}

.Toast {
   background-color: #A2E1DB;
}

.GoM {
   background-color: #55CBCD;
}

.caption {
   font-style: oblique;
}

.PQ ol {
   background-color: #FFDBCC;
}