body {
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   font-size: 24px;
}

ol {
   text-align: left;
}

.home-page {
   color: white;
   background-color: black;
}

h1,h2 {
   font-weight: 900;
}

.recipe-link {
   font-size: larger;
   font-family: 'Courier New', Courier, monospace;
}

.PQ {
   background-color: #FCB9AA;
}

.Toast {
   background-color: #B6CFB6;
}

.GoM {
   background-color: #55CBCD;
}

.caption {
   font-style: oblique;
}

.PQ .intro,.PQ .Ingredients, .PQ .Instructions {
   background-color: #FFDBCC;
}

.Toast .intro,.Toast .Ingredients,.Toast .Instructions {
   background-color: #CCE2CB;
}

.GoM .intro,.GoM .Ingredients,.GoM .Instructions {
   background-color: #A2E1DB;
}